<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:nk/awb {"type":"image","fullHeight":true,"useFeaturedImage":true,"imageBackgroundPosition":"52% 50%","color":"#3d3d3dad","parallax":"scroll-opacity","className":"alignfull","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-nk-awb nk-awb nk-awb-with-featured-image nk-awb-fullheight nk-awb-content-valign-center alignfull" style="padding-top:0;padding-bottom:0"><div class="nk-awb-wrap" data-awb-type="image" data-awb-parallax="scroll-opacity" data-awb-parallax-speed="0.5" data-awb-parallax-mobile="false" data-awb-image-background-size="cover" data-awb-image-background-position="52% 50%"><div class="nk-awb-overlay" style="background: #3d3d3dad;"></div><div class="nk-awb-inner"></div></div><div class="nk-awb-wrap-content"><!-- wp:heading {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<h1 class="wp-block-heading has-text-align-center has-base-color has-text-color has-link-color">School Demo</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<p class="has-text-align-center has-base-color has-text-color has-link-color">This is the demo site for WordPress Site #3 (School) in the BCIT FWDP 3600 course.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:nk/awb -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->